@import 'slider.css';

body {
  max-width: 1024px;
  margin: 0 auto;
  background-color: #333;
  font-size: 1.0em;
  line-height: 1.5em;
  font-family: 'Ubuntu', Verdana, Helvetica, serif, sans-serif;
}

nav.menu {
  border: 1px solid #ccc;
  background-color: #000;
}

ul.menu-list {
   list-style-type: none;
   padding: 0;
   margin: 1em 0em;
   text-align: right;
}

li.menu-item {
  color:  #fff;
  display: inline-block;
  /*margin: 0em 1.5em;*/
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 0;
  padding-right: 1em;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

li.menu-item:hover {
  background-color: #999;
}

li.menu-item a {
  color: #fff;
  display: inline;
  text-decoration: none;
}

ul.submenu-servicios {
  border: 1px solid #fff;
  text-align: left;
  display: none;
  margin: 0;
  padding: 0;
  width: 200px;
  top: 65px;
  position: absolute;
  z-index: 1;
  background-color: #000;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

li.menu-item:hover > ul.submenu-servicios {
  display: block;
}

ul.submenu-servicios li {
  display: block;
  float: none;
  background: none;
  margin: 5px;
  padding: 0;
}

article {
  padding: 10px;
  text-align: justify;
  -webkit-column-count: 3;
  -moz-column-count: 3
  column-count: 3;
}

div#content {
  background-color: #e3e3e3;
}

.contacto {
  display: table-cell;
  padding: 10px;
  color: white;
  column-count: 2;
  word-wrap: break-word;
}

footer {
  font-family: Verdana, Helvetica, serif, sans-serif;
  font-size: 11pt;
  background-color: #000;
}

.footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #fff;
}

.social-bar img {
  margin: 10px;
  height: 40px;
  width: 40px;
}
