@import url(http://fonts.googleapis.com/css?family=Istok+Web);

@keyframes slidy {
  0%   { left: 0%; }
  10%  { left: 0%; }
  20%  { left: -100%; }
  30%  { left: -100%; }
  40%  { left: -200%; }
  50%  { left: -200%; }
  60%  { left: -300%; }
  70%  { left: -300%; }
  80%  { left: -400%; }
  90%  { left: -400%; }
  95%  { left: -500%; }
  100%  { left: -500%  }
}

div#galeria-servicios {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: Istok Web, Verdana;
}

figure.slider {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 0;
  width: 500%;
  animation: slidy 30s infinite;
}

figure.slider figure {
  display: table-cell;
  position: inherit;
}

figure {
/*  display: inline-block; */
  width: 100%;
  margin: 0;
  padding: 0;
}

/*figure.slider img {
  width: 100%;
  height: auto;
}
*/

figure.slider figure figcaption {
  position: absolute;
  bottom: 0;
  background: rgba (0,0,0,4);
  color: #fff;
  width: 100%;
  font-size: 2rem;
  padding: .8rem
}
